<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table class = "table">
        <thead>
        <tr>   
            <th>Book ID</th>                 
            <th>Book Name</th>
            <th>Book Content</th>
            <th>Author</th>                      
                                                    
        </tr>
    </thead>
    <tbody>
    {% for entry in all_books %}
    <tr>         
        <td>{{ entry.id }}</td>
        <td>{{ entry.name }}</td>
        <td>{{entry.content}}</td>
        <td>{{ entry.author }}</td>  
        
    </tr>
    {% endfor %}                 
</tbody>   
</table>        
</body>
</html>